@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --text-color: #ffffff;

  --gamba-ui-border-radius: 10px;

  --gamba-ui-button-default-background: #0e0e16;
  --gamba-ui-button-default-background-hover: #11111d;
  --gamba-ui-button-default-color: white;

  --gamba-ui-button-main-background: #8851ff;
  --gamba-ui-button-main-background-hover: #9564ff;

  --gamba-ui-input-background: #0e0e16;
  --gamba-ui-input-color: #ffffff;
  --gamba-ui-input-background-hover: #11111d;
}

body,
input,
button,
textarea,
pre {
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
}

h1,
h2 {
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  cursor: default;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #9564ff;
}

.modal::-webkit-scrollbar {
  width: 4px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #9564ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide X scrollbar for Chrome, Safari, and Opera */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Hide X scrollbar for IE, Edge, and Firefox */
.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* splash game styles */
@keyframes splashAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  33% {
    opacity: 0.6;
    transform: scale(1.025);
  }

  66% {
    opacity: 0.3;
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  @keyframes splashAnimation {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    50% {
      opacity: 0.5;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
}

@keyframes loadingAnimation {
  0% {
    transform: translateX(-125%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* Recent plays skeleton pulse */
@keyframes Skeleton {
  0% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
  }

  50% {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.8);
  }

  100% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.animate-Skeleton {
  animation: Skeleton 1.5s cubic-bezier(0.2, 0, 0.2, 1) infinite;
}

/* GambaUi.WagerInput overriding styles */
.sc-gLLuof.cXPwGP button img,
.sc-gLLuof.iROQRr button img,
.sc-gLLuof.jPfPoR button img,
.sc-gLLuof.geLpjZ button img,
.sc-iBdnpw.lkQOOO button img {
  max-width: 2rem !important;
  max-height: 2rem !important;
  width: auto !important;
  height: auto !important;
}

/* Game stepper animation */
@keyframes purplePulse {
  0% {
    opacity: 1;
    background-color: rgba(149, 76, 233, 0.6);
  }

  50% {
    opacity: 0.7;
    background-color: rgba(75, 0, 130, 0.8);
  }

  100% {
    opacity: 1;
    background-color: rgba(149, 76, 233, 0.6);
  }
}

.animate-purplePulse {
  animation: purplePulse 1.5s cubic-bezier(0.2, 0, 0.2, 1) infinite;
}

/* Dashbaord gamecard styles */
@keyframes tileAnimation {
  0% {
    background-position: -100px 100px;
  }

  100% {
    background-position: 100px -100px;
  }
}

.game-card {
  transition: transform 0.2s ease;
  position: relative;
  transform: scale(1);
  max-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.game-card:hover {
  transform: scale(1.01);
  outline: #9564ff33 solid 5px;
  outline-offset: 0px;
}

.game-card .background {
  transition:
    transform 0.2s ease,
    opacity 0.3s;
  animation: tileAnimation 5s linear infinite;
  opacity: 0;
}

.game-card:hover .background {
  opacity: 0.35;
}

.game-card .image {
  transition: transform 0.2s ease;
  transform: scale(0.9);
}

.game-card:hover .image {
  transform: scale(1);
}

.game-card .play {
  transition: opacity 0.2s ease;
  opacity: 0;
  backdrop-filter: blur(20px);
}

.game-card:hover .play {
  opacity: 1;
}

/* Shutter animation */
@keyframes shutter-open {
  0% {
    opacity: 0.2;
    transform: scale(0.2);
  }

  20% {
    opacity: 0.8;
    transform: scale(0.6);
  }

  40% {
    opacity: 1;
    transform: scale(1);
  }

  60% {
    opacity: 0.8;
    transform: scale(0.6);
  }

  80% {
    opacity: 0.2;
    transform: scale(0.2);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.animate-shutter {
  animation: shutter-open 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 50;
  pointer-events: none;
  border-radius: 10px;
}
